body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    text-align: center;
}

h1 {
    margin: 20px 0;
    color: #333;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;

    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.search-result {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-result:hover {
    transform: translateY(-5px);
}

.search-result img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.search-result a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    background-color: #f8f8f8;
}

#show-more-button {
    display: none;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px 0;
}

#show-more-button:hover {
    background-color: #218838;
}
